* {
    padding: 0px;
    margin: 0px;
    outline: 0px;
    font-family: arial;
}

.container {
    background-color: white;
    margin: 0 auto;
}

.headerMain {
    margin: 0 auto;
    background-color: #9fc5f8;
}

.header {

    display: flex;
    width: 970px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
}

.header>p {
    font-size: 40px;
    margin: 0px 0px 0px 15%;
    flex: 1;
    font-weight: 600;
    color: white;


}

.header>ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 15% 0px 0px;
    flex: 1;
}

.header ul li {
    font-size: 20px;
    margin: 0px 20px;
    color: white;
    cursor: pointer;
}

.mainBody {
    margin: 0 auto;
    width: 970px;
}

.cityRow {
    margin: 0 15% auto;
    padding: 2% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
}

.cityRow p {
    font-size: 30px;
    margin: 0% 0px 0% 0px;
    flex: 1;
    font-weight: 600;
    color: black;
}

.cityRow label {
    margin-right: 10px;
    font-size: 20px;
}

.cityRow select {
    padding: 3px 0px;
    font-size: 20px;
    border: 2px solid;
    border-radius: 4px;
}

.weatherMain {
    margin: 0 15% auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2% 0 1% 0;
}

.weatherCard {
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 0 15px;
}

.weatherMain ul {
    list-style: none;
}

.weatherMain li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.weatherMain li:last-child {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px;
}

.weatherMain li:last-child p:first-child {
    color: #cf2a27;
}

.weatherMain li:last-child p:last-child {
    color: #2b78e4;
}

.weatherMain li:first-child {
    font-size: 25px;
    font-weight: 600;
}

.weatherMain li:nth-child(3) {
    font-size: 15px;
    font-weight: 600;
}

.weatherMain img {
    border-radius: 50%;
    width: 120px;
}

.cookiePanel {
    margin: 0 145.5px;
    min-width: 670px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0%;
    border: 4px solid black;
    border-radius: 5px;
    background-color: #eeeeee;
}

.cookiePanel img {
    max-width: 64px;
    flex: 1;
    margin-right: 20px;
}

.cookieText {
    flex: 2;
    max-width: 431px;
}

.cookieText p:first-child {
    font-size: 20px;
    margin-bottom: 5px;
}

.cookiePanel button {

    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    border: solid 3px black;
    background-color: #9fc5f8;
    color: black;
    text-align: center;
    box-shadow: 4px 4px black;
    margin: 0px 30px;
}